body{
    background-color: rgb(0, 183, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 50px;

    text-align: center;
}

h2{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 50px;

    text-align: center;
}

p{
    background-color: aquamarine;

    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;

    font-size: large;

    border: 3px solid black;

    text-align: center;
}

.pito{
    background-color: antiquewhite;

    font-display: ;

    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

    font-size: large;

    border: 3px solid rgb(0, 255, 34);

    text-align: center;
}